@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #675afe;
}
.wrapper{
  width: 370px;
  background: #fff;
  padding: 30px;
  border-radius: 7px;

}
.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form{
  margin: 40px 0 20px 0;
}
form :where(input, select) {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
}
form p {
  font-size: 18px;
  margin-bottom: 5px;

}
form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid rgb(73, 67, 67);
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #675afe;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items:center;
  justify-content: space-between;

}
.drop-list .select-box{
  display: flex;
  height: 45px;
  width: 115px;
  padding: 2px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(219, 213, 213);
}
.select-box select{
  width: auto;
  font-size: 13px;
  background: #fff;
  cursor: pointer;
}
.select-box select::-webkit-scrollbar{
  width: 8px;
}
.select-box select::-webkit-scrollbar-track{
 background:green;
}
.select-box select::-webkit-scrollbar-thumb{
  background: rgb(175, 171, 171);
  border-right: 2px solid #fff;
  border-right:8px;
}

.select-box img{
  max-width: 40px;
  height: 20px;
  border: 1px solid rgb(223, 14, 14);
}
.drop-list .icon{
  cursor: pointer;
  font-size: 22px;
  margin-top: 30px;

}
form .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}
form button{
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  background: #675afe;
  height: 52px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 20px;
}
